[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "themes/chunky-poster"]
	path = themes/chunky-poster
	url = https://github.com/keskinbu/hugo-theme-chunky-poster.git
